body {
background-color: #c7c7c7;

  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}
h2 {
  color: #000000;
}
button {
  background-color: #878787;
  border-radius: 5px;
  font-family: sans-serif;

  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
